a{
    text-decoration: none;
    color: black;
}
body {
    font-family: 'Merriweather', sans-serif;
    background-color: transparent;
    overflow-x: hidden;
}


.header, .navbar{
    display: flex;
    z-index: 10;
}

.header{
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 20px;
    padding-top: 30px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
}

.navbar{
    gap: 40px;
    align-items: center;
}
.nav-elt{
    color: black;
    font-weight: bolder;
    font-size: 20px;
}

.nom-resto{
    font-family: 'Merriweather', serif;
    position: fixed;
    left: 70px;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    width: 50vw;
}
.leticia{
    color: orange;
    font-weight: bold;
}
#backButton{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    left: 10px;
    top: 30px;
    font-size: 25px;
    font-weight: bolder;
    color: green;
    border: 4px solid green;
    border-radius: 50%;
}
#backButton:hover i{
    transform: translateX(-10px);
    transition: transform 0.4s ease;
}


.btn-login{
    position: fixed;
    right: 70px;
    margin-top: 10px;
    top: 20px;
    width: 100px;
    padding: 10px;
    border-radius: 5px;
    background-color: green;
    color: white;
}

.panier-comamnde{
    position: fixed;
    right: 17%;
    top: 35px;
    font-size: 25px;
    color: green;
}
#panier-comamnde{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 17px;
    height: 17px;
    padding: 2px;
    font-size: 15px;
    font-weight: bolder;
    background-color: orange;
    border-radius: 50%;
    color: white;
    transform: translate(19px, -9px);
}

.body{
    width: 70vw;
    margin-left: 14vw;
    background-color: transparent;
    margin-top: 100px;
    margin-bottom: 100px;
}

.entete{
    display: flex;
    width: 100%;
    padding: 10px;
    gap: 50px;
    margin-top: 200px;
    background-color: transparent;
}
.slogan-presentation{
    width: 40%;
}
.slogan{
    font-size: 40px;
    font-weight: bolder;
    margin-bottom: 30px;
    margin-top: 100px;
    color: green;
    z-index: 2;
}
.presentation{
    font-size: 25px;
    color: gray;
}
.logo{
    margin-top: -80px;
    z-index: 2;
    transition: all 0.8s ease;
}
.logo span{
    position: absolute;
    top: 60%;
    right: 23%;
    font-size: 30px;
    font-weight: bold;
    color: orange;
}

.titre{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: -5vw;
    font-size: 35px;
    font-weight: bold;
    color: green;
    z-index: 2;
}

.caroussel{
    display: flex;
    width: 100%;
    gap: 41px;
    margin-top: 40px;
    margin-bottom: 60px;
    overflow-x: auto; /* Permet le défilement horizontal */
    white-space: nowrap; 
}
.card{
    width: 250px;
    height: 300px;
    border-radius: 15px;
    padding: 10px;
    padding-top: 30px;
    background-color: white;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
    transition: all 1s ease-in-out;
}
.card:hover{
    background-color: rgb(247, 180, 57);
}
.card:hover img{
    border: 4px double white;
}
.card:hover .card-titre{
    color: white;
}
.card-img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-img img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 4px double orange;
}
.card-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 20px;
}
.card-titre{
    font-size: 20px;
    font-weight: bold;
    color: orange;
}
.prix{
    font-size: 15px;
    color: green;
}
.hidden {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1.2s ease-out, transform 1s ease-out;
}

.visible {
    opacity: 1;
    transform: translateY(0);
}




.deco{
    position: fixed;
    z-index: -2;
}
.deco-img{
    width: 100%;
    height: 100%;
    z-index: -1;
}
.deco1{
    top: 5%;
    left: 20px;
    width: 400px;
    height: auto;
}.deco2{
    bottom: 0;
    right: 0;
    width: 350px;
    height: auto;
}.deco4{
    top: 0;
    right: -10px;
    width: 400px;
    height: auto;
}.deco3{
    bottom: 10px;
    left: 0;
    width: 350px;
    height: auto;
}.deco5{
    top: 50%;
    left: 25%;
    width: 300px;
    height: auto;
}

.footer{
    position: relative;
    width: 70vw;
    margin-left: 14vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    font-size: 20px;
    z-index: 3;
    margin-bottom: -50px;
}
.footer .info{
    display: flex;
    gap: 20px;
    color: white;
    font-weight: bold;
}
.footer .info h2{
    color: white;
    margin-left: 20px;
}
.footer .info li{
    margin-top: 10px;
}





#checkbox2 {
    display: none;
  }
  
  .toggle2 {
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
    transition-duration: .5s;
  }

  .check{
    display: none;
    position: fixed;
    top: 35px;
    right: 20px;
  }
  
  .bars {
    width: 100%;
    height: 4px;
    background-color: orange;
    border-radius: 6px;
  }
  
  #bar5 {
    transition-duration: .8s;
  }

  #checkbox2:checked + .toggle2 .bars {
    position: absolute;
    transition-duration: .5s;
  }
  
  #checkbox2:checked + .toggle2 #bar5 {
    transform: scaleX(0);
    transition-duration: .5s;
  }
  
  #checkbox2:checked + .toggle2 #bar4 {
    width: 100%;
    transform: rotate(45deg);
    transition-duration: .5s;
  }
  
  #checkbox2:checked + .toggle2 #bar6 {
    width: 100%;
    transform: rotate(-45deg);
    transition-duration: .5s;
  }
  
  #checkbox2:checked + .toggle2 {
    transition-duration: .5s;
    transform: rotate(180deg);
  }

  .menu{
    display: none;
    flex-direction: column;
    position: fixed;
    top: 80px;
    right: 0;
    width: 150px;
    background-color: rgb(201, 199, 199);
    padding: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    gap: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    transform: translateY(-100%);
    transition: all 0.8s ease;
    z-index: 3;
  }
  .menu .nav-elt{
    color: black;
    font-size: 17px;
  }
  .menu .btn-login2{
    color: green;
    font-weight: bolder;
  }





/* Style pour Menu */

.titre-menu{
    color: green;
    margin-top: 320px;
}

.sidebar{
    position: absolute;
    width: 100vw;
    top: 150px;
    left: 0;
    height: fit-content;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar ul{
    width: 80%;
    list-style: none;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    gap: 40px;
    overflow-x: auto;
    overflow-y: none;
    white-space: nowrap;
    scrollbar-width: none;
}
.sidebar ul::-webkit-scrollbar{
    display: none;
}

.sidebar ul li{
    margin-bottom: 50px;
    color: white;
    padding: 1rem;
    background-color: green;
    border-radius: 35px;
    transition: all 0.5s ease;
}
.sidebar ul li:hover{
    background-color: orange;
}

.sidebar ul a{
    color: white;
}


.cards{
    width: 120%;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 40px;
    white-space: wrap; 
    margin-left: -60px;
    justify-content: center;
    align-items: center;
}
.card-repas{
    width: 450px;
    height: 500px;
    display: grid;
    border-radius: 20px;
    padding: 0px;
    background-color: white;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s ease;
}.card-repas:hover{
    transform: scale(1.03);
    box-shadow: 0 9px 5px rgba(0, 0, 0, 0.5);
}
.repas-info{
    background-color: transparent;
    height: 60px;
    margin-top: -20px;
    padding: 20px;
    padding-bottom: 40px;
}

.repas-img{
    width: 450px;
    height: 350px;
    background-color: transparent;
    border-radius: 20px;
}
.repas-img img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.repas-nom{
    display: flex;
    width: 100%;
    color: black;
    font-size: 1rem;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.repas-prix{
    position: absolute;
    font-size: 1rem;
    font-weight: bolder;
    color: black;
    transform: translateY(15px);
}
.panier{
    position: absolute;
    font-size: 1rem;
    color: gray;
    z-index: 9;
    transform: translate(370px, 15px);
}

.my{
    margin-top: 100px;
}

.espace{
    width: 100vw;
    height: 80px;
}




/* Style pour modif */

.container-repas{
    margin-top: 150px;
    display: flex;
    width: 100%;
    gap: 150px;
}

.img-repas{
    width: 30vw;
    height: 30vw;
    background-color: orange;
    border-radius: 50%;
}

.img-repas img{
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    border: 2px solid green;
}
.fa-camera {
    position: absolute;
    font-size: 40px;
    transform: translate(24vw, 24vw);
    padding: 15px;
    background-color: green;
    border-radius: 50%;
    color: white;
}
.info-repas{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 30px;
    width: 40%;
    height: 30vw;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    color: green;
}
.info- {
    font-size: 25px;
    border: none;
    margin-left: 20px;
    background-color: transparent;
}
.info-:focus{
    outline: none;
    box-shadow: 0 3px 5px 0 rgba(53, 47, 47, 0.3);
}

.btn-{
    display: flex;
    gap: 50px;
}
.btn-commander{
    padding: 10px;
    border-radius: 15px;
    color : white;
    background-color: green;
    width: fit-content;
    font-size: 25px;
}
.composants{
    font-size: 15px;
}

.liste-composants{
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(50px, 1fr)); /* Ajuste les lignes automatiquement */
    grid-auto-flow: column; /* Les éléments s'empilent en colonnes */
    height: 300px;
    width: 150px;
    column-gap: 0px;
    row-gap: 0px;
}
.composant{
    width: 200px;
}





/* Style pour Commande */
.container-{
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 100px;
}
.cards-commande{
    display: flex;
    width: 70%;
    gap: 50px;
    flex-direction: column;
    justify-content: start;
}
.commande-{
    width: 100%;
    display: flex;
    gap: 50px;
    justify-content: start;
    font-size: 1rem;
    padding: 15px;
    transition: all 0.5s ease;
}
.commande-:hover{
    box-shadow: 3px 5px 4px 0 rgba(0, 0, 0, 0.2);
}
.commande-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.commande-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
}
.commande-nom{
    font-size: 1rem;
    font-weight: bolder;
    height: 100%;
    width: fit-content;
    display: flex;
}
.commande-prix-all{
    width: 120px;
    height: 30px;
    font-size: 1rem;
    font-weight: bold;
    background-color: transparent;
    border: none;
    color: green;
}
.trash{
    font-size: 1rem;
    color: gray;
    cursor: pointer;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: end;
    margin-top: 40px;
}
.commande-:hover .trash{
    color: red;
}
#btn-commande{
    padding: 10px;
    border-radius: 15px;
    color : white;
    background-color: green;
    font-size: 1rem;
    transform: translateX(-7vw);
}
.textarea{
    display: flex;
    justify-content: start;
    width: 100%;
    height: 200px;
    font-size: 1rem;
    padding: 5px;
}
#description{
    width: 75%;
    height: 200px;
    font-size: 1rem;
    border: 1px solid gray;
    padding: 5px;
}
#description:focus{
    outline: green;
    border: 2px solid green;
}
.precision{
    padding: 10px;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    font-weight: bold;
    gap: 50px;
}
.livraison{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.nb{
    margin-bottom: -30px;
    color: rgb(83, 79, 79);
}
#livraison{
    width: 20px;
    height: 20px;
}
#livraison:checked {
    outline: none;
    background-color: green;
    border: 1px solid black;
}
#lieu{
    width: 200px;
    height: 50px;
    font-size: 1rem;
}

@media (max-width: 1167px) {
    body{
        width: 100vw;
        margin: 0;
        overflow-x: none;
    }
    .header{
        position: fixed;
    }
    .nom-resto{
        position: fixed;
        left: 20vw;
        font-size: 23px;
        font-weight: bold;
    }
    .body{
        width: 98vw;
        margin-left: 0;
        margin-bottom: 0;
    }
    
    .entete{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        gap: 0px;
        margin-top: 100px;
        margin-bottom: 50px;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .slogan-presentation{
        width: 100%;
        margin-top: -80px;
    }
    .logo{
        display: grid;
        margin-top: 0px;
    }
    .logo img{
        width: 100%;
    }
    .slogan{
        font-size: 35px;
        font-weight: bolder;
        margin-bottom: 30px;
    }
    .presentation{
        font-size: 20px;
    }
    .deco, .navbar, .btn-login{
        display: none;
    }
    .titre{
        font-size: 30px;
        margin-left: 0;
    }
    .footer{
        position: relative;
        width: 100vw;
        margin-left: 0vw;
        
    }
    .footer .info{
        flex-direction: column;
        gap: 20px;
        color: white;
        font-weight: bold;
    }
    .footer .info h2{
        color: white;
        margin-left: 20px;
    }
    .footer .info li{
        margin-top: 10px;
    }
    .card{
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    }
    .check{
        display: flex;
    }
    .titre-menu{
        margin-left: 10px;
        margin-top: 200px;
    }
    .sidebar{
        top: 100px;
    }
    .sidebar ul{
        width: 90%;
        font-size: 15px;
        gap: 30px;
        margin-left: -25px;
    }
    .cards{
        margin-left: 0;
        gap: 1.5vw;
        width: 100%;
    }
    .card-repas{
        width: 45vw;
        height: 55vw;
        padding: 5px;
    }
    .card-repas:hover{
        transform: scale(1);
    }
    .repas-img{
        width: 100%;
        height: 40vw;
        border-radius: 10px;
    }
    .repas-nom{
        font-size: 1rem;
    }
    .repas-prix{
        font-size: 1rem;
        font-weight: bolder;
        transform: translateY(7px);
    }
    .panier{
        font-size: 1rem;
        padding: 5px;
        transform: translate(37vw, 5px);
    }
    .my{
        margin-top: 0;
    }
    .cards-commande{
        display: flex;
        width: 90%;
        gap: 50px;
    }
    .commande-{
        width: 100%;
        display: flex;
        gap: 30px;
        justify-content: start;
        font-size: 1rem;
        padding: 5px;
    }
    .trash{
        font-size: 1rem;
        width: 90%;
        justify-content: end;
        align-items: end;
    }
    #description{
        width: 100%;
        height: 200px;
        font-size: 1rem;
        border: 1px solid gray;
        padding: 5px;
    }
    #btn-commande{
        transform: translateX(0px);
    }

  }

  @media (max-width: 650px) {
    .cards{
        gap: 3vw;
    }
    .nom-resto{
        left: 20vw;
    }
    .card-repas{
        width: 45vw;
        height: 62vw;
        padding: 0px;
        border-radius: 10px;
    }
    .card-repas:hover{
        transform: scale(1);
    }
    .repas-img{
        width: 100%;
        height: 40vw;
        border-radius: 10px;
    }
    .repas-img img{
        border-radius: 10px;
    }
    .repas-prix{
        font-size: 15px;
        font-weight: bolder;
        transform: translateY(-5px);
    }
    .panier{
        font-size: 15px;
        transform: translate(32vw, -10px);
    }
    .container-repas{
        margin-top: 150px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0px;
    }    
    .img-repas{
        width: 90vw;
        height: 90vw;
    }
    
    .img-repas img{
        width: 100%;
        height: 100%;
    }
    .fa-camera {
        font-size: 30px;
        transform: translate(72vw, 72vw);
        padding: 12px;
    }
    .info-repas{
        margin-top: 50px;
        margin-bottom: 250px;
        margin-left: 20px;
        width: 100%;
        justify-content: start;
        align-items: start;
        font-size: 20px;
    }
    .info- {
        font-size: 20px;
    }
    .liste-composants{
        grid-template-rows: repeat(auto-fill, minmax(40px, 1fr));
    }
    .composant{
        width: 160px;
        font-size: 17px;
    }
    .espace2{
        width: 100px;
        height: 200px;
        background-color: green;
    }
    .cards-commande{
        display: flex;
        width: 100%;
        gap: 50px;
    }
    .commande-{
        width: 100%;
        display: flex;
        gap: 30px;
        justify-content: start;
        font-size: 1rem;
        padding: 5px;
    }
    .trash{
        font-size: 1rem;
        width: 90%;
        justify-content: end;
        align-items: end;
    }
    #description{
        width: 90%;
        height: 200px;
        font-size: 1rem;
        padding: 5px;
    }
}